<h2>Check out what others are learning</h2>
<% @roles.each do |role| %>
    <h5><a href="/users/<%= role.user.id %>"><%= role.user.username %></a> is learning<br></h5>
    <p><a href="/roles/<%= role.id %>"><%= role.name %> - <%= role.opera %> - <%= role.composer %></a><br>
    <strong><%= "notes: " if role.public_notes != "" %></strong><%= role.public_notes %><br></p>
<% end %>