<h5><%= @role.user.username %> is learning</h5>
<h2><%= @role.name %> - <%= @role.opera %> - <%= @role.composer %><br></h2>

<% if role_completed?(@role) %>
    <h3> Role completed!!</h3><br>
<% end %>

<% if !role_completed?(@role) %>
    <strong>tasks in progress:</strong><br>
    <p><%= "researched" if !@role.researched? %>
    <%= "translated" if !@role.translated? %>
    <%= "listened" if !@role.listened? %>
    <%= "learned" if !@role.learned? %>
    <%= "coached" if !@role.coached? %>
    <%= "memorized" if !@role.memorized? %></p><br>
<% end %>

    <strong>tasks completed:</strong><br>
    <p><%= "researched" if @role.researched? %>
    <%= "translated" if @role.translated? %>
    <%= "listened" if @role.listened? %>
    <%= "learned" if @role.learned? %>
    <%= "coached" if @role.coached? %>
    <%= "memorized" if @role.memorized? %></p><br>
    

<% if current_user == @role.user && @role.private_notes != "" %>
    <strong>Private Notes:</strong>
    <p><%= @role.private_notes %></p><br>
<% end %>

<strong>Public Notes:</strong> 
<p><% if @role.public_notes == "" %>
    No Public Notes
<% else %>
    <%= @role.public_notes %>
<% end %></p><br>



<% if current_user == @role.user %>
    <button onclick="window.location.href = '/roles/<%= @role.id %>/edit'" type="button">Update</button><br><br><br>
    <form action="/roles/<%= @role.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Role">
    </form>
<% end %>